.data {
  flex: 1;
  padding: 10px 0px 0px 20px;
}

.data__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  height: 40px;
}

.data__headerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}

.data__headerRight svg {
  margin: 0px 10px;
}

.data__grid {
  display: flex;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.data__file {
  text-align: center;
  border: 1px solid lightgray;
  margin: 10px;
  min-width: 200px;
  padding: 10px 0px 0px 0px;
  border-radius: 5px;
}

.data__file p {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  font-size: 12px;
  background-color: whitesmoke;
  padding: 10px 0px;
}

.data__file svg {
  font-size: 60px;
  color: gray;
}

.detailsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid lightgray;
  padding: 5px;
  font-size: 15px;
}

.detailsRow p,
b,
a {
  display: flex;
  align-items: center;
  color: black;
  outline: none;
  text-decoration: none;
}

.detailsRow p svg {
  font-size: 18px;
  margin: 10px;
}
